header img{
    border-radius: 50%;
    width: 100px;
}
header h6{
    color:antiquewhite;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;  
    text-align: left;

}
header div{
   display: flex;
   align-items: center; 
   gap: 12px;
}
header ul li a{
 text-decoration: none;   
 font-size: 20px;
 color: antiquewhite;
 font-weight: 500;
}
header ul{
  list-style: none;  
  display: flex;
  gap: 32px; ;
  margin: 0;
  padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    padding-right: 600px;
background-color: brown;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px; ;
}
.hero-text h2{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;
text-align: center;
}